@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;500;600;700&display=swap');


* {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
}

body{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;

  color: #fff;
  background: linear-gradient(to right, rgb(83, 105, 118), rgb(41, 46,73));
}